#input[type="file"]{
display: none;
}

.image-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.img{
    height:70px;
    width: 70px;
    border-radius: 50%;
}

